{
    "swagger": "2.0",
    "x-stoplight": {
        "docs": {
            "showModels": false
        }
    },
    "info": {
        "version": "1.0",
        "title": "Diablo Media Affiliate API V1",
        "description": "Welcome to the documentation for our Affiliate API. We've designed this API to give you, the affiliate, programmatic access to all of the functionality of our affiliate interface. In other words, we dog-food this API as it's the same API that we use in our [Affiliate User Interface](https://affiliate.diablomedia.com). Anything that we do in our Affiliate UI, you can do with this API with your own integrations.\n\nAfter the \"Authentication\" section below, each group is broken out to the different types of \"resources\" that we provide through the API. Generally each resource type has a \"Collection\" endpoint and a \"Resource\" endpoint. Collections will be a list of objects of that type, and a Resource is a single object of that type. Browse to the section that you're interested in to see sample requests and responses. The resource types in a Collection response typically contain less properties than the corresponding Resource response, to reduce how much data is returned over the wire for each request. The sample responses for each resource type indicate which properties we return for the Collection vs. Resource requests for an object.\n\nThis is a REST JSON API, so all requests must send the `Accept: application/json` header in order for the API to respond with an expected response (the \"Try Now\" functionality of this documentation should do this for sample requests).\n\nThe responses are formatted to meet the [HAL](http://stateless.co/hal_specification.html) specification but should be readable/parseable by any JSON parser.\n\nIf you find any inconsistencies between this documentation and the API itself, please open an issue at [Github](https://github.com/diablomedia/pubapi_docs) or contact us [directly](mailto:info@diablomedia.com). We're always open to changes/improvements that will make this API more useful to our affiliates, so please let us know how we can make it better.\n\n# Versioning\n\nThis is the first release of our API, therefore we've used the \"v1\" tag on the URL. If we ever need to make breaking changes to the API (that would break any integration that our affiliates have already created) we'll change the URL for the api to the next major version (\"v2\" would be next). You may continue to use the older version of the API for as long as you'd like (we'll probably retire older versions at some point, but we'll work with you to be sure that we don't break any integrations that you've setup on older versions of the API).\n\n# Authentication\n\nYou must have an API token to make requests against this API. Use our [affiliate interface](https://affiliate.diablomedia.com) to generate an API token (you can do this in the \"API Access\" sub-section of the \"User Preferences\" section). Once you have a token, you can authenticate to the API in one of two ways:\n\n## Authorization Header\n\nThis method is the most secure, because it keeps your token out of the request's query string (which can end up in proxy logs). Add your token to the `Authorization Header` as demonstrated below (replace xxxxxxxxxxxxxxxxxxx with your token):\n\n`Authorization: Bearer xxxxxxxxxxxxxxxxxxx`\n\nIn the examples in this documentation we use \"pleaseinsertyourtokenhere\" as the token placeholder. If you use the \"Try\" functionality of these docs, you'll need to replace that text with your actual token to get a real response from our server.\n\n## Query String Parameter\n\nIf the header option isn't possible with your integration, this method is supported as well. Simply add your token as a query string parameter to the request's URL (replace xxxxxxxxxxxxxxxxxxx with your token):\n\n`{$$.env.host}/{$$.env.version}/campaigns?publisher_id=10000&access_token=xxxxxxxxxxxxxxxxxxx`\n\n## Account Access\n\nTokens are assigned to a User Account (also called a Contact), which means that a single account may have access to several Publisher accounts in our system if your Contact record is linked to more than one Publisher. Because of this, most of the API requests require that a `publisher_id` query string parameter is added to the request so that we know which Publisher account the request is for. In the example requests below we've denoted if the `publisher_id` query string parameter is required or not (if it's not passed for these requests, you'll receive a `401` error response).",
        "contact": {}
    },
    "host": "affiliate.api.diablomedia.com",
    "basePath": "/v1/",
    "securityDefinitions": {
        "bearer": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/campaigns/{campaign_id}": {
            "get": {
                "description": "Returns a full record for the campaign specified in the URL.",
                "summary": "View a Campaign Detail",
                "tags": [
                    "Campaigns"
                ],
                "operationId": "CampaignsByCampaignIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Campaign in form of an integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "number",
                        "format": "double",
                        "description": "ID of the Publisher account you are working as",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CampaignFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": 1,
                                "name": "Campaign Name",
                                "status": "active",
                                "thumbnail": "",
                                "approval_status": "approved",
                                "categories": [
                                    "[]"
                                ],
                                "created": "2010-11-05T16:01:54+00:00",
                                "description": "",
                                "epc": 1,
                                "payout": 5,
                                "payout_type": "CPA",
                                "traffic_types": [
                                    "[]"
                                ],
                                "type": "Standard",
                                "url": "https://test.com",
                                "_embedded": {
                                    "creatives": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                                }
                                            },
                                            "id": 1,
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "description": "This is the creative's description",
                                            "type": "Basic"
                                        }
                                    ],
                                    "pixels": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/pixels/1?publisher_id=10000"
                                                }
                                            },
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "id": 1,
                                            "pixel": "https://test.com",
                                            "type": "url",
                                            "version": 1,
                                            "global": false
                                        }
                                    ],
                                    "countries": [
                                        {
                                            "id": "US",
                                            "name": "United States",
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/countries/US?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ],
                                    "phone_numbers": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/phone_numbers/1?publisher_id=10000"
                                                }
                                            },
                                            "id": "RE1234",
                                            "number": "+15551234567"
                                        }
                                    ]
                                },
                                "_links": {
                                    "creatives_export": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaigns/1/creatives_export?publisher_id=10000"
                                    },
                                    "suppression": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaigns/1/suppression?publisher_id=10000"
                                    }
                                },
                                "coreg": {
                                    "fields": [],
                                    "additional_instructions": "",
                                    "posting_url": "",
                                    "sample_url": ""
                                },
                                "from_lines": [
                                    "[]"
                                ],
                                "phone_number_limit": 5,
                                "pixel_type": "cookie",
                                "subject_lines": [
                                    "[]"
                                ],
                                "suppression": {
                                    "last_download": "2010-11-05T16:01:54+00:00",
                                    "last_upload": "2010-11-05T16:01:54+00:00"
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/campaigns/{campaign_id}/creatives_export": {
            "get": {
                "description": "This endpoint will return a ZIP file of all of this campaign's creatives.",
                "summary": "Export Creatives",
                "tags": [
                    "Campaigns"
                ],
                "operationId": "CampaignsCreativesExportByCampaignIdGet",
                "deprecated": false,
                "produces": [
                    "application/zip"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Campaign to export creatives for",
                        "format": "int32",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Content-Type": {
                                "type": "string",
                                "default": "application/zip"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaign_id}/suppression": {
            "get": {
                "description": "This endpoint will redirect the request to the suppression file download location for this campaign (if applicable), and log the download in our system.",
                "summary": "Download Suppression File",
                "tags": [
                    "Campaigns"
                ],
                "operationId": "CampaignsSuppressionByCampaignIdGet",
                "deprecated": false,
                "produces": [
                    "application/zip",
                    "text/plain",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Campaign to download the suppression file for",
                        "format": "int32",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "302": {
                        "description": "",
                        "headers": {
                            "Location": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns": {
            "get": {
                "description": "Paged listing of all campaigns available, can be filtered by various campaign properties.",
                "summary": "View Campaign List",
                "tags": [
                    "Campaigns"
                ],
                "operationId": "CampaignsGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The slug of a category (or categories separated by commas) to filter the results by"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The \"code\" of a country (or several countries, separated by commas) to filter by",
                        "enum": [
                            "cpa",
                            "cpc",
                            "revshare"
                        ]
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "name": "payout_type",
                        "in": "query",
                        "required": false,
                        "enum": [
                            "cpa",
                            "cpc",
                            "revshare"
                        ],
                        "type": "string",
                        "description": "Filter the results by campaign payout type, separate several options with a comma"
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Sort the results by this field, prepend with a dash (-) to reverse the sort direction"
                    },
                    {
                        "name": "traffic_type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Filter the results by campaign traffic type slug (separate by a comma to filter by multiple traffic types)"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "enum": [
                            "standard",
                            "paypercall",
                            "coreg",
                            "hostandpost"
                        ],
                        "type": "string",
                        "description": "Filter the results by campaign type, separate several options with a comma"
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "required": false,
                        "enum": [
                            "all",
                            "approved",
                            "unapproved",
                            "pending",
                            "running"
                        ],
                        "type": "string",
                        "description": "Filter the results by visibility"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CampaignsCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaigns?page=1&publisher_id=10000",
                                        "first": "{$$.env.host}/{$$.env.version}/campaigns?publisher_id=10000",
                                        "last": "{$$.env.host}/{$$.env.version}/campaigns?page=2&publisher_id=10000",
                                        "next": "{$$.env.host}/{$$.env.version}/campaigns?page=2&publisher_id=10000"
                                    }
                                },
                                "_embedded": {
                                    "campaigns": [
                                        {
                                            "id": 1,
                                            "name": "Campaign Name",
                                            "status": "active",
                                            "thumbnail": "",
                                            "approval_status": "approved",
                                            "categories": [
                                                "[]"
                                            ],
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "description": "",
                                            "epc": 1,
                                            "payout": 5,
                                            "payout_type": "CPA",
                                            "traffic_types": [
                                                "[]"
                                            ],
                                            "type": "Standard",
                                            "url": "https://test.com",
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/campaign_approvals/{approval_id}": {
            "get": {
                "description": "A \"Campaign Approval\" is an approval request made against a specific campaign for a specific publisher account. Approval Requests are sent to our affiliate team where they can be approved or denied. Only one outstanding approval request can exist for a specific campaign/publisher combination.\n\nUse this endpoint to view existing approval requests that you've made.",
                "summary": "View a Campaign Approval Detail",
                "tags": [
                    "Campaign Approvals"
                ],
                "operationId": "CampaignApprovalsByApprovalIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "approval_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the approval to fetch",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CampaignApprovalFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                    }
                                },
                                "id": 1,
                                "created": "2010-11-05T16:01:54+00:00",
                                "status": "pending",
                                "response_date": "2018-08-13T12:02:00+00:00",
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/campaign_approvals": {
            "get": {
                "description": "List all campaign approval requests for this publisher.",
                "summary": "List Campaign Approvals",
                "tags": [
                    "Campaign Approvals"
                ],
                "operationId": "CampaignApprovalsGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "in": "header",
                        "name": "Accept",
                        "type": "string",
                        "default": "application/json",
                        "required": true,
                        "enum": [
                            "application/json"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "publisher_id",
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the Publisher account you are working as",
                        "required": true,
                        "x-example": 10000
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CampaignApprovalCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaign_approvals?page=1&publisher_id=10000",
                                        "first": "{$$.env.host}/{$$.env.version}/campaign_approvals?publisher_id=10000",
                                        "last": "{$$.env.host}/{$$.env.version}/campaign_approvals?page=2&publisher_id=10000",
                                        "next": "{$$.env.host}/{$$.env.version}/campaign_approvals?page=2&publisher_id=10000"
                                    }
                                },
                                "_embedded": {
                                    "campaign_approvals": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                                }
                                            },
                                            "id": 1,
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "status": "pending",
                                            "response_date": "2018-08-13T12:02:00+00:00",
                                            "_embedded": {
                                                "campaign": {
                                                    "id": 1,
                                                    "name": "Campaign Name",
                                                    "status": "active",
                                                    "thumbnail": "",
                                                    "_links": {
                                                        "self": {
                                                            "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "post": {
                "description": "If you are not yet authorized to run a campaign (the campaign's `approval_status` is not \"approved\"), you can make an approval request for that campaign with this request.",
                "summary": "Make an Approval Request",
                "tags": [
                    "Campaign Approvals"
                ],
                "operationId": "CampaignApprovalsPost",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MakeAnApprovalRequestBody"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Accept",
                        "type": "string",
                        "default": "application/json",
                        "required": true,
                        "enum": [
                            "application/json"
                        ],
                        "description": "Content type that you want the response to be in (application/json is only accepted format currently)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CampaignApprovalFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                    }
                                },
                                "id": 1,
                                "created": "2010-11-05T16:01:54+00:00",
                                "status": "pending",
                                "response_date": "2018-08-13T12:02:00+00:00",
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "type": "string",
                                "default": "{$$.env.host}/{$$.env.version}/campaign_approvals/1/"
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "description": "We use categories to classify our campaigns and publishers to help us (and you) find campaigns that are a good fit. These categories are used to filter campaigns and can also be assigned to a publisher's \"categories\" property, showing that the publisher is interested in offers that span those categories.",
                "summary": "List Categories",
                "tags": [
                    "Categories"
                ],
                "operationId": "CategoriesGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CategoryCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/categories"
                                    }
                                },
                                "_embedded": {
                                    "categories": [
                                        {
                                            "id": 1,
                                            "name": "Category",
                                            "slug": "category",
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/categories/1?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/contacts/{contact_id}": {
            "get": {
                "description": "A \"contact\" is a user account that is associated to one or many publisher accounts. Access to our system is done through a Contact, which may have access to several publisher accounts.",
                "summary": "View a Contact Detail",
                "tags": [
                    "Contacts"
                ],
                "operationId": "ContactsByContactIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "type": "number",
                        "format": "double",
                        "description": "ID of the Contact",
                        "x-example": 1
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ContactFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": 1,
                                "email": "test@test.com",
                                "first_name": "John",
                                "last_name": "Doe",
                                "phone": "123-555-1234",
                                "type": "Primary",
                                "version": 1,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/contacts/1?publisher_id=10000"
                                    }
                                },
                                "address2": "Apt 102",
                                "address": "123 Main St.",
                                "birthday": "05/31",
                                "city": "Anycity",
                                "country": "US",
                                "fax": "123-555-1234",
                                "has_password": false,
                                "messaging": {
                                    "msn": "msn@msn.com",
                                    "aim": "aimaccount",
                                    "skype": "skypeaccount",
                                    "yim": "yimaccount",
                                    "twitter": "@twitterhandle",
                                    "icq": "203003335",
                                    "linkedin": "linkedinprofile"
                                },
                                "mobile_phone": "123-555-1234",
                                "postal_code": "12345",
                                "region": "NY"
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "patch": {
                "description": "The following properties of a Contact record can be updated through this API:\n\n* address\n* address2\n* birthday\n* city\n* country\n* fax\n* first_name\n* last_name\n* messaging\n* mobile_phone\n* password\n* phone\n* postal_code\n* region\n\nTo update a Contact, issue a PATCH request containing a JSON body with the properties that you want to update, as shown in the example.  The `id` property of the JSON request must match the id of your user account.",
                "summary": "Update a Contact",
                "tags": [
                    "Contacts"
                ],
                "operationId": "ContactsByContactIdPatch",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Contact",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "Content-type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateContactRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ContactFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": 1,
                                "email": "test@test.com",
                                "first_name": "John",
                                "last_name": "Doe",
                                "phone": "123-555-1234",
                                "type": "Primary",
                                "version": 1,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/contacts/1?publisher_id=10000"
                                    }
                                },
                                "address2": "Apt 102",
                                "address": "123 Main St.",
                                "birthday": "05/31",
                                "city": "Anycity",
                                "country": "US",
                                "fax": "123-555-1234",
                                "has_password": false,
                                "messaging": {
                                    "msn": "msn@msn.com",
                                    "aim": "aimaccount",
                                    "skype": "skypeaccount",
                                    "yim": "yimaccount",
                                    "twitter": "@twitterhandle",
                                    "icq": "203003335",
                                    "linkedin": "linkedinprofile"
                                },
                                "mobile_phone": "123-555-1234",
                                "postal_code": "12345",
                                "region": "NY"
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "description": "This endpoint is provided for consistency, but will only ever return the contact associated with your token.",
                "summary": "View Contact List",
                "tags": [
                    "Contacts"
                ],
                "operationId": "ContactsGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ContactsCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/contacts?page=1",
                                        "first": "{$$.env.host}/{$$.env.version}/contacts",
                                        "last": "{$$.env.host}/{$$.env.version}/contacts?page=2",
                                        "next": "{$$.env.host}/{$$.env.version}/contacts?page=2"
                                    }
                                },
                                "_embedded": {
                                    "contacts": [
                                        {
                                            "id": 1,
                                            "email": "test@test.com",
                                            "first_name": "John",
                                            "last_name": "Doe",
                                            "phone": "123-555-1234",
                                            "type": "Primary",
                                            "version": 1,
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/contacts/1?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "description": "The country resources are referenced on Campaigns, which signifies which countries the campaign accepts traffic from.",
                "summary": "List Countries",
                "tags": [
                    "Countries"
                ],
                "operationId": "CountriesGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountryCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/countries?page=1",
                                        "first": "{$$.env.host}/{$$.env.version}/countries",
                                        "last": "{$$.env.host}/{$$.env.version}/countries?page=2",
                                        "next": "{$$.env.host}/{$$.env.version}/countries?page=2"
                                    }
                                },
                                "_embedded": {
                                    "countries": [
                                        {
                                            "id": "US",
                                            "name": "United States",
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/countries/US?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/countries/{country_code}": {
            "get": {
                "description": "",
                "summary": "View a Country Detail",
                "tags": [
                    "Countries"
                ],
                "operationId": "CountriesByCountryCodeGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account your are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "country_code",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "2 digit ISO code for Country to fetch",
                        "x-example": "US"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountryFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": "US",
                                "name": "United States",
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/countries/US?publisher_id=10000"
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/creatives/{creative_id}": {
            "get": {
                "description": "",
                "summary": "View a Creative Detail",
                "tags": [
                    "Creatives"
                ],
                "operationId": "CreativesByCreativeIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "creative_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Creative in form of an integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreativeFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                    }
                                },
                                "id": 1,
                                "created": "2010-11-05T16:01:54+00:00",
                                "description": "This is the creative's description",
                                "type": "Basic",
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                },
                                "size": {
                                    "width": 468,
                                    "height": 60
                                },
                                "thumbnail": "",
                                "url": "",
                                "html": "",
                                "image": "",
                                "text": ""
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/creatives": {
            "get": {
                "description": "",
                "summary": "View Creative List",
                "tags": [
                    "Creatives"
                ],
                "operationId": "CreativesGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "Filter creatives by campaign id that they are attached to",
                        "format": "int32"
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Sort the results by this field, prepend with a dash (-) to reverse the sort direction"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreativesCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/creatives?page=1&publisher_id=10000",
                                        "first": "{$$.env.host}/{$$.env.version}/creatives?publisher_id=10000",
                                        "last": "{$$.env.host}/{$$.env.version}/creatives?page=2&publisher_id=10000",
                                        "next": "{$$.env.host}/{$$.env.version}/creatives?page=2&publisher_id=10000"
                                    }
                                },
                                "_embedded": {
                                    "creatives": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/campaign_approvals/1?publisher_id=10000"
                                                }
                                            },
                                            "id": 1,
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "description": "This is the creative's description",
                                            "type": "Basic",
                                            "_embedded": {
                                                "campaign": {
                                                    "id": 1,
                                                    "name": "Campaign Name",
                                                    "status": "active",
                                                    "thumbnail": "",
                                                    "_links": {
                                                        "self": {
                                                            "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                                        }
                                                    }
                                                }
                                            },
                                            "size": {
                                                "width": 468,
                                                "height": 60
                                            },
                                            "thumbnail": "",
                                            "url": ""
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/creatives/{creative_id}/export": {
            "get": {
                "description": "",
                "summary": "Export Creative",
                "tags": [
                    "Creatives"
                ],
                "operationId": "CreativesExportByCreativeIdGet",
                "deprecated": false,
                "produces": [
                    "application/zip"
                ],
                "parameters": [
                    {
                        "name": "creative_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the creative to export",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/messages/{message_id}": {
            "get": {
                "description": "",
                "summary": "View a Message Detail",
                "tags": [
                    "Messages"
                ],
                "operationId": "V1MessagesByMessageIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the message to fetch",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MessageFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": 1,
                                "author": {
                                    "first_name": "John",
                                    "last_name": "Doe",
                                    "email": "john@test.com"
                                },
                                "created": "2010-11-05T16:01:54+00:00",
                                "priority": "info",
                                "read": false,
                                "title": "Test Message",
                                "type": "message",
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/messages/1?publisher_id=10000"
                                    }
                                },
                                "content": "<b>HTML content of message</b>",
                                "text_content": "Just text content"
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "patch": {
                "description": "To mark a message as read, you need to perform a PATCH request against the message's resource URL and send \"true\" for the `read` property, as shown in the example.",
                "summary": "Mark a Message as Read",
                "tags": [
                    "Messages"
                ],
                "operationId": "V1MessagesByMessageIdPatch",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the message to update",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 1
                                },
                                "read": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "id",
                                "read"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MessageFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "id": 1,
                                "author": {
                                    "first_name": "John",
                                    "last_name": "Doe",
                                    "email": "john@test.com"
                                },
                                "created": "2010-11-05T16:01:54+00:00",
                                "priority": "info",
                                "read": false,
                                "title": "Test Message",
                                "type": "message",
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/messages/1?publisher_id=10000"
                                    }
                                },
                                "content": "<b>HTML content of message</b>",
                                "text_content": "Just text content"
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "delete": {
                "description": "",
                "summary": "Delete a Message",
                "tags": [
                    "Messages"
                ],
                "operationId": "MessagesByMessageIdDelete",
                "deprecated": false,
                "produces": [],
                "consumes": [],
                "parameters": [
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the message to delete",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    }
                ],
                "responses": {
                    "204": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/messages": {
            "get": {
                "description": "",
                "summary": "List Messages",
                "tags": [
                    "Messages"
                ],
                "operationId": "MessagesGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MessageCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/messages?page=1&publisher_id=10000",
                                        "first": "{$$.env.host}/{$$.env.version}/messages?publisher_id=10000",
                                        "last": "{$$.env.host}/{$$.env.version}/messages?page=2&publisher_id=10000",
                                        "next": "{$$.env.host}/{$$.env.version}/messages?page=2&publisher_id=10000"
                                    }
                                },
                                "_embedded": {
                                    "messages": [
                                        {
                                            "id": 1,
                                            "author": {
                                                "first_name": "John",
                                                "last_name": "Doe",
                                                "email": "john@test.com"
                                            },
                                            "created": "2010-11-05T16:01:54+00:00",
                                            "priority": "info",
                                            "read": false,
                                            "title": "Test Message",
                                            "type": "message",
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/messages/1?publisher_id=10000"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/phone_numbers/{number_id}": {
            "get": {
                "description": "",
                "summary": "View a Phone Number Detail",
                "tags": [
                    "Phone Numbers"
                ],
                "operationId": "PhoneNumbersByNumberIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "number_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "ID of the Phone Number to fetch",
                        "x-example": "RE1234"
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumberFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/phone_numbers/1?publisher_id=10000"
                                    }
                                },
                                "id": "RE1234",
                                "number": "+15551234567",
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "delete": {
                "description": "",
                "summary": "Delete a Phone Number",
                "tags": [
                    "Phone Numbers"
                ],
                "operationId": "PhoneNumbersByNumberIdDelete",
                "deprecated": false,
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "number_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "ID of the Phone Number to fetch",
                        "x-example": "RE1234"
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    }
                ],
                "responses": {
                    "204": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/phone_numbers": {
            "get": {
                "description": "",
                "summary": "View Phone Number List",
                "tags": [
                    "Phone Numbers"
                ],
                "operationId": "PhoneNumbersGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "campaign",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "Filter the results by campaign id",
                        "format": "int32"
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumberCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/phone_numbers?page=1&publisher_id=10000",
                                        "first": "{$$.env.host}/{$$.env.version}/phone_numbers?publisher_id=10000",
                                        "last": "{$$.env.host}/{$$.env.version}/phone_numbers?page=2&publisher_id=10000",
                                        "next": "{$$.env.host}/{$$.env.version}/phone_numbers?page=2&publisher_id=10000"
                                    }
                                },
                                "_embedded": {
                                    "phone_numbers": [
                                        {
                                            "_links": {
                                                "self": {
                                                    "href": "{$$.env.host}/{$$.env.version}/phone_numbers/1?publisher_id=10000"
                                                }
                                            },
                                            "id": "RE1234",
                                            "number": "+15551234567"
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "post": {
                "description": "",
                "summary": "Add Phone Numbers",
                "tags": [
                    "Phone Numbers"
                ],
                "operationId": "PhoneNumbersPost",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "campaign_id": {
                                    "type": "integer",
                                    "example": 1
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumberFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/phone_numbers/1?publisher_id=10000"
                                    }
                                },
                                "id": "RE1234",
                                "number": "+15551234567",
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/pixels/{pixel_id}": {
            "get": {
                "description": "",
                "summary": "View a Pixel Detail",
                "tags": [
                    "Pixels"
                ],
                "operationId": "PixelsByPixelIdGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "pixel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Pixel to fetch",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PixelFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/pixels/1?publisher_id=10000"
                                    }
                                },
                                "created": "2010-11-05T16:01:54+00:00",
                                "id": 1,
                                "pixel": "https://test.com",
                                "type": "url",
                                "version": 1,
                                "global": false,
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "patch": {
                "description": "",
                "summary": "Update a Pixel",
                "tags": [
                    "Pixels"
                ],
                "operationId": "PixelsByPixelIdPatch",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "pixel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Pixel to fetch",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdatePixelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PixelFull"
                        },
                        "examples": {
                            "application/hal+json": {
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/pixels/1?publisher_id=10000"
                                    }
                                },
                                "created": "2010-11-05T16:01:54+00:00",
                                "id": 1,
                                "pixel": "https://test.com",
                                "type": "url",
                                "version": 1,
                                "global": false,
                                "_embedded": {
                                    "campaign": {
                                        "id": 1,
                                        "name": "Campaign Name",
                                        "status": "active",
                                        "thumbnail": "",
                                        "_links": {
                                            "self": {
                                                "href": "{$$.env.host}/{$$.env.version}/campaigns/1?publisher_id=10000"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {}
                    }
                }
            },
            "delete": {
                "description": "",
                "summary": "Delete a Pixel",
                "tags": [
                    "Pixels"
                ],
                "operationId": "PixelsByPixelIdDelete",
                "deprecated": false,
                "produces": [],
                "consumes": [],
                "parameters": [
                    {
                        "name": "pixel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Pixel to fetch",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    }
                ],
                "responses": {
                    "204": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/pixels": {
            "get": {
                "description": "",
                "summary": "View Pixel List",
                "tags": [
                    "Pixels"
                ],
                "operationId": "PixelsGet",
                "deprecated": false,
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "ID of the Publisher account you are working as",
                        "format": "int32",
                        "x-example": 10000
                    },
                    {
                        "name": "campaign",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "description": "Filter the results by campaign id",
                        "format": "int32"
                    },
                    {
                        "name": "global",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": "Filter the results by their global status"
                    },
                    {
                        "$ref": "#/parameters/page-number"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Sort the results by this field, prepend with a dash (-) to reverse the sort direction"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "enum": [
                            "url",
                            "html"
                        ],
                        "type": "string",
                        "description": "Filter the results by pixel type"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PixelsCollectionResponse"
                        },
                        "examples": {
                            "application/hal+json": {
                                "count": 1,
                                "total": 2,
                                "_links": {
                                    "self": {
                                        "href": "{$$.env.host}/{$$.env.version}/pixels?page=1&publisher_id=10000",
[...]
